html{
    scroll-behavior: smooth;
}

body{
    /* Cor do fundo de tela */
    background-color: #f2e7bc;

    /* Texto */
    color: #0d0d0d;
    text-align: justify;

    /* Alinhamento e Tamanho */
    /* 1rem = 16px, tela grande = font-size: 16px, tela média = font-size: 15px, tela pequena = font-size: 14px*/
    width: 85%;
    margin: auto;
}

/* Seção  */
section{
    padding: 64px 256px;
}

/* Tabelas */
table {
    width: 100%;
}
td {
    background-color: #a9d9d0;
}

td, 
th{
    border: #000 solid 1px;
    border-radius: 4px;
    text-align: center;
}

tr {
    background-color: #038c7f;
}

/* Título, Texto e Parágrafos */
p {
    text-align: justify;
    text-indent: 50px;
}

h1, 
h2, 
h3{
    text-align: center;
}

h3{ 
    color: #000;
}

/* Links */
a:link{
    color: #f2e7bc;     
}

a:visited{
    color: #95bfb8;
}

a:hover{
    color: #025454;
}

a:active{
    color: #0d0d0d;
}

/* Imagem */
img {
    width: 200px;
    display: block;
    margin: auto;
    border-radius: 30px;
}

/* Classes e IDs */
.bookTitle {
    background-color: #a9d9d0;
    color: #027373;
    text-align: center;
}

#sectionHP, 
#sectionGOT, 
#sectionBabylon {
    background-color: #a9d9d0;
}

#header{
    background-color: #038c7f;
    color: #f2e7bc;
    padding: 20px;
    margin-bottom: 0px;
}

#yourLibrary{
    text-indent: 0px;
    text-align: center;
}

#sumary{
    background-color: #038c7f;
    color: #f2e7bc;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 0 0 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Rodapé */
footer{
    background-color: #038c7f;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}